<div class="container avoid-nav-overlap">
  <h2>Add dose to <%= @cocktail.name %> </h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description   %>
  <%= f.association :ingredient %> <!-- Não tem campo de erro quando usa association, teria que alterar simple_form no config -->
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
